body {
  margin: 0;
  padding: 0;
  background: white;
  transition: ease 0.2s;
}

.deepbody {
  background: black;
  transition: ease 0.2s;
}

.padding {
  padding: 14px;
}

h3.padding {
  margin: 0;
  padding-bottom: 0;
}

.t-action-sheet__cell {
  background: #fff;
  border: none;
}

.t-action-sheet__action {
  border: none;
}
